* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-font {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}




/*!  ONE */
/* *NAVBAR */
nav {
    display: flex;
    /* background-color: orangered; */
    justify-content: space-between;
    padding: 38px 150px;
}

.nav-h1 {
    font-size: 28px;
    font-weight: 800;
}

.nav-b {

    width: 245px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 20px;
}

/* *ONE-BODY */
.main-one {
    background-image: url(../assets/hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 221px 45px 221px;
}

.img-one {
    width: 240px;
    height: 240px;
    margin-bottom: 32px;
}

.h1-one {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 0px 200px;
    margin-bottom: 24px;
}

.p-one {
    font-size: 16px;
    padding: 0px 300px;
    text-align: center;
    margin-bottom: 32px;
}

.b-one {
    width: 244px;
    height: 65px;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
}


/* ! TWO */
.main-two {
    max-width: 1140px;
    margin: 75px auto;
    padding: 80px 97px;
}

.h1-two {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.p1-two {
    text-align: center;
    font-size: 16px;
    padding: 0px 47px;
    margin-bottom: 48px;
}

.contain-two {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.c1-two {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid black;
}

.c2-two {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid black;
}

.contain-part-two {
    max-width: 477px;
}

.h2-two {
    font-size: 24px;
    padding-right: 60px;
}

.p-two {
    margin-top: 16px;
    margin-bottom: 32px;
}

.b-two {
    width: 171px;
    height: 47px;
    border-radius: 3px;
    border: 1px solid black;
}

/* ! THREE */

.main-three {
    max-width: 1140px;
    /* background-color: yellow; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 151px;
}

.h1-three {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.p-three {
    text-align: center;
    font-size: 16px;
    padding: 0px 114px;
    margin-bottom: 48px;
}

.iframe-three {

    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

/* ! FOUR */

.main-four {
    /* background-color: yellow; */
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: 49px;
}

/* * UPPER */

.up-four {
    display: flex;
    flex-direction: column;
    margin-bottom: 111px;
}

.h1-four {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.p-four {
    text-align: center;
    padding: 0px 150px;
    font-size: 16px;
    margin-bottom: 48px;
}

.clang-four {
    display: flex;
    justify-content: space-between;
}

.lang1 {
    width: 364px;
    height: 299px;
    padding: 40px;
}

.h4-four {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 24px;
}

.p2-four {
    font-size: 16px;
    margin-bottom: 24px;
}

.a-four {
    font-size: 16px;
    font-weight: 800;
    color: black;
}

/* * DOWN */

.down-four {
    display: flex;
    flex-direction: column;
}

.h1-down {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.p-down {
    text-align: center;
    padding: 0px 150px;
    font-size: 16px;
    margin-bottom: 48px;
}

.nlang-down-four {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lang-down {
    /* width: 364px; */
    height: 219px;
    padding: 40px;
    /* border: 1px solid black; */
    display: flex;
    gap: 24px;
    align-items: center;
}

.h4-down {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.p2-four {
    font-size: 16px;
    margin-bottom: 24px;
}

.a-four {
    font-size: 16px;
    font-weight: 800;
    color: black;
}

.img-down1 {
    width: 108px;
    height: 108px;
}

.img-down2 {
    width: 144px;
    height: 88px;
}

.img-down3 {
    width: 108px;
    height: 108px;
}

.a-down {
    font-size: 16px;
    font-weight: 800;
    color: black;
}

.p2-down {
    margin-bottom: 24px;
}

/* ! FIVE */

.main-five {
    max-width: 1140px;
    height: 313px;
    background-image: url(../assets/handshake.jpg), radial-gradient(circle, #494949 0%, #313131 100%);
    background-blend-mode: overlay;

    background-size: cover;
    background-position: center;
    margin: 0px auto;
    margin-bottom: 80px;
    border-radius: 16px;
    padding: 64px 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contain-five {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 200px;
}

.h1-five {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.p-five {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
}

.input-five{
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    width: 548px;
    height: 57px;
    padding: 20px;
    color: #0D1321;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input[type="submit"] {
    width: 120px;
    height: 57px;
    color: #0D1321;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ! SIX */

footer{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}
.logo-footer{
    display: flex;
    gap: 24px;
}